footer {
    background-color: indigo;
    color: white; /* Cambia el color del texto según sea necesario para que sea legible en el fondo indigo */
    padding: 20px; /* Ajusta el relleno según sea necesario */
}

#footer-content {
    display: flex;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin-right: 20px; /* Ajusta el margen entre las secciones según sea necesario */
}

ul {
    list-style: none;
    padding: 0;
}

#footer-bottom {
    background-color: #ee7c7c; /* Puedes utilizar un tono más oscuro para el fondo inferior */
    padding: 10px;
    text-align: center;
}