#main-container {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.section-container {
    display: flex;
    flex: 0 0 40%;
    margin-bottom: 20px;
}

.section-image,
.section-text {
    flex: 1;
}

.section-image img {
    width: 95%;
    height: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.section-text p {
    margin: 20px;
}

/* Ajustes específicos para márgenes y sombras */


.section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section-text p {
    margin-bottom: 20px;
    text-align: center;
}

.section-image img {
    margin: 0;
}

.section-image img {
    flex: 0 0 45%;
    margin-bottom: 20px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
